@import 'tailwindcss';
@import './themes.css';

/***************************************************************
Global Color Palette ===== https://shadcn-svelte.com/themes ====
***************************************************************/
:root {
  /* [Fixed] Font (Inter is the best font) */
  font-family: 'Inter', ui-sans-serif, system-ui, sans-serif;
  font-feature-settings: 'calt', 'ss03', 'cv02', 'cv05', 'cv11';
}

@custom-variant dark (&:is(.dark *));

@theme inline {
  /* [Tailwind] Color Palette */
  --color-neutral-1: var(--neutral-1);
  --color-neutral-2: var(--neutral-2);
  --color-neutral-3: var(--neutral-3);
  --color-neutral-4: var(--neutral-4);
  --color-neutral-5: var(--neutral-5);
  --color-neutral-6: var(--neutral-6);

  --color-primary-1: var(--primary-1);
  --color-primary-2: var(--primary-2);
  --color-primary-3: var(--primary-3);
  --color-primary-4: var(--primary-4);
  --color-primary-5: var(--primary-5);
  --color-primary-6: var(--primary-6);

  --color-text: var(--text);
  --color-text-bright: var(--text-bright);
  --color-text-muted: var(--text-muted);
  --color-background: var(--background);
  --color-background-alt: var(--background-alt);
  --color-border: var(--border);
  --color-link: var(--link);
  --color-link-hover: var(--link-hover);

  --color-info: var(--info);
  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-error: var(--error);
  --color-special: var(--special);

  --color-text-code: var(--text-code);
  --color-background-code: var(--background-code);

  /* Set colors (unified colors with modules) */
  --shadow: 0 16px 48px rgba(0, 0, 0, 0.2);
  --backdrop: rgba(0, 0, 0, 0.5);

  /* Layout styles */
  --sidebar-width: 260px;
  --content-max-width: 768px;
}

@layer base {
}
