@import 'tailwindcss';

:root {
  --text: var(--color-neutral-900);
  --text-muted: var(--color-neutral-800);

  --bg: var(--color-neutral-100);
  --border: var(--color-neutral-200);
  --outline: var(--color-neutral-300);

  --primary: var(--color-emerald-600);
  --primary-hover: var(--color-emerald-800);

  --info: var(--color-blue-600);
  --success: var(--color-green-600);
  --warning: var(--color-yellow-600);
  --error: var(--color-red-600);
  --special: var(--color-purple-600);
}

.dark {
  --text: var(--color-neutral-100);
  --text-muted: var(--color-neutral-200);

  --bg: var(--color-neutral-900);
  --border: var(--color-neutral-800);
  --outline: var(--color-neutral-700);

  --primary: var(--color-emerald-500);
  --primary-hover: var(--color-emerald-300);

  --info: var(--color-blue-500);
  --success: var(--color-green-500);
  --warning: var(--color-yellow-500);
  --error: var(--color-red-500);
  --special: var(--color-purple-500);
}
